<div id="haitao_notify" class="haitao_font">
    <div class="htn_head">
        <div class="htn_title">重要通知</div>
        <div class="htn_close">X</div>
    </div>
    <div class="htn_content">
        <p class="htn_paragraph">亲，海淘神器将于2014年2月底停止原转运公司（友家、4PX、斑马、百通）的地址自动填写服务，届时我们将提供更多优质转运服务，敬请关注。</p>
        <p class="htn_paragraph">关于期间的包裹处理请点击查看详情</p>
    </div>
    <div class="htn_bottom">
        <span class="htn_neverRemind">不再提醒</span>
        <a href="http://wanke.etao.com/detail/148480.html" target="_blank" class="haitao_detaillink">查看详情<em></em></a>
    </div>
</div>