<div class="haitao_guide_wrap haitao_font">
    <div class="haitao_guide_title">如何海淘（以Amazon为例）</div>
    <div id="haitao_guide_slide" class="s-demo haitao-scrollable">
        <div class="haitao_guide_step haitao_guide_amazon">
            <div class="haitao_guide_line"></div>
            <div class="haitao_guide_item haitao_guide_1" index="1">1 登录/注册</div>
            <div class="haitao_guide_item haitao_guide_2" index="2">2 加入购物车,去结算</div>
            <div class="haitao_guide_item haitao_guide_3" index="3">3 收货地址</div>
            <div class="haitao_guide_item haitao_guide_4" index="4">4 物流</div>
            <div class="haitao_guide_item haitao_guide_5" index="5">5 信用卡</div>
            <div class="haitao_guide_item haitao_guide_6" index="6">6 账单地址</div>
            <div class="haitao_guide_item haitao_guide_7" index="7">7 确认下单</div>
        </div>
        <span id="scroller-prev" class="prev">&lsaquo; 上一页</span>
        <span id="scroller-next" class="next">下一页 &rsaquo;</span>
        <div class="haitao-scroller" id="haitao_guide_switchable">
            <div class="ks-switchable-content">
                <div class="ks-switchable-pannel">
                    <img alt="" src="http://img02.taobaocdn.com/tps/i2/T1E1iUXBVfXXcIygce-390-170.png" />
                </div>
                <div class="ks-switchable-pannel">
                    <img alt="" src="http://img03.taobaocdn.com/tps/i3/T17weIXBthXXcIygce-390-170.png" />
                </div>
                <div class="ks-switchable-pannel">
                    <img alt="" src="http://img03.taobaocdn.com/tps/i3/T1Ne53XzxXXXcIygce-390-170.png" />
                </div>
                <div class="ks-switchable-pannel">
                    <img alt="" src="http://img01.taobaocdn.com/tps/i1/T1HMqVXu0dXXcIygce-390-170.png" />
                </div>
                <div class="ks-switchable-pannel">
                    <img alt="" src="http://img02.taobaocdn.com/tps/i2/T1QaWVXzReXXcIygce-390-170.png" />
                </div>
                <div class="ks-switchable-pannel">
                    <img alt="" src="http://img03.taobaocdn.com/tps/i3/T1cw9UXpNgXXcIygce-390-170.png" />
                </div>
                <div class="ks-switchable-pannel">
                    <img alt="" src="http://img04.taobaocdn.com/tps/i4/T1m89TXBXeXXcIygce-390-170.png" />
                </div>
            </div>
            <ul class="ks-switchable-nav">
                <li class="ks-active haitao_first"></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li class="haitao_last"></li>
            </ul>
        </div>
    </div>
</div>
