<div class="haitao_font haitao_triangle haitao_triangle_{{website}} haitao_tips right haitao_unfold haitao_side_tip">
	<div class="haitao_tips_title">
		<span class="haitao_tips_center">{{name}}可信任，支持以下服务：</span>
	</div>
	<div class="haitao_tips_detail">
		<div class="haitao_intro_item haitao_intro_card"><i></i>{{cardsupport}}</div>
		<div class="haitao_intro_item haitao_intro_fee"><i></i>{{shiptip}}</div>
		<div class="haitao_intro_item haitao_intro_tax"><i></i>{{taxtip}}</div>
		<div class="haitao_intro_close"><span>我知道了，关闭</span></div>
	</div>
</div>